body {
    background-color: rgb(226, 236, 219);
}

header {
    background-color: rgb(79, 142, 163);
    padding: 10px;
    display: flex;
}

header > img {
    padding: 50px;
}

header > p {
    vertical-align: middle;
}