body {
    background-color: #e2ecdb;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(79, 142, 163);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

header > h1 {
    font-family: sans-serif;
    font-size: 25px;
    height: 100%;
    margin: 5px;
    color: rgb(48, 48, 48)
}

#chart {
    max-width: 1000px;
    height: 100%;
    background-color: #e2ecdb;
}

footer {
    background-color: rgb(79, 142, 163);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer > p {
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    color: rgb(48, 48, 48)
}

#main {
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#weatherInfo {
    padding: 10px;
    height: 100%;
    background-color: #a0ff5c;
    font-family: sans-serif;
    border-radius: 10px;
    border:rgb(87, 87, 87) solid 2px;
}